<!DOCTYPE html>
<html>

<head>
<title> Tic Tac Toe </title>
</head>

<center><body>
	<font size= "48" color= "black"><marquee direction="left" scrollamount="9" class="vote">Welcome to Tic Tac Toe </a> </marquee></font>
	<br><br><br><br><br><br><br><br><br>
	<center><table id="tic_board">
<tr>
<td>
    <form method="post" action="board">
     <input type="hidden" name="space1">
     <select type="" name="space1" id="space1" value=<%= space1 %>>
               <option Selected>Choose</option>
               <option value="X">X</option>
               <option value="O">O</option>
     
</td>

<td> 
     <input type="hidden" name="space2" value=<%= space2 %>>
     <%= space2 %>
     <select type="" name="space2" id="space2">
               <option Selected>Choose</option>
               <option value="X">X</option>
               <option value="O">O</option>
</td>

<td>
     <input type="" name="space3" value=<%= space3 %> hidden>
     <%= space3 %>
     <select type="" name="space3" id="space3">
               <option Selected>Choose</option>
               <option value="X">X</option>
               <option value="O">O</option>
</td>
</tr>
<tr>
<td><select type="" name="space4" id="space4">
               <option Selected>Choose</option>
               <option value="X">X</option>
               <option value="O">O</option></td>
<td><select type="" name="space4" id="space4">
               <option Selected>Choose</option>
               <option value="space_five1">X</option>
               <option value="space_five2">O</option></td>
<td><select type="" name="space5" id="space5">
               <option Selected>Choose</option>
               <option value="space_six1">X</option>
               <option value="space_six2">O</option></td>
  </tr>
<tr>
<td><select type="" name="space6" id="space6">
               <option Selected>Choose</option>
               <option value="X">X</option>
               <option value="O">O</option></td>
<td><select type="" name="space7" id="space7">
               <option Selected>Choose</option>
               <option value="space_eight1">X</option>
               <option value="space_eight2">O</option></td>
<td><select id="mode9">
               <option Selected>Choose</option>
               <option value="space_nine1">X</option>
               <option value="space_nine2">O</option></td>
  </tr>
</table></center>
<input type="submit" class="buttonSubmit">
<br>
<a href='//localhost:4567'>Reset</a>
</body></center>
